<!DOCTYPE html>
<html>
  <head>
    <title>project2 assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h2>To-do Lists</h2>
    <%todos.forEach((t,idx) => { %>

      <li><%=t.todo%>
        <%=t.done%>
          <form action="/todos/<%=idx%>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit"> x </button>
        </form></li>
        <%})%> 
    <form method="POST" action="/">
    <input type="text" name= "todo"/>
    <button type='submit'>submit</button>
    </form>

  </body>
</html>
