<!DOCTYPE html>
<html>

<head>
    <title>project2 assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>To-do Lists</h1>
    <%if(todos.length === 0) {%>
        <h3>There are no To Dos yet</h3>
        <%} else {%>
            <%todos.forEach((t,idx) => { %>

                <li>
                    <%=t.todo%>
                        <%=t.done%>
                            <form action="/<%=idx%>?_method=DELETE" method="POST" class="delete-form">
                                <button type="submit"> x </button>
                            </form>
                </li>
                <%})%>
                    <% }%>
                        <form method="POST" action="/">
                            <input type="text" name="todo" />
                            <button type='submit'>schedule</button>
                        </form>

</body>

</html>